<h1>Special Disclosures</h1>

<body>
	<p>All info supplied to us by yourself or a third party must be accurate and complete.</p>

	<p>The policyholder is automatically the nominated beneficiary.</p>

	<p>Should the beneficiary not be able to receive the benefit due to death or incapacity, the pay-out will be made to the child’s legal guardian.</p>

	<p>A claim will only be admitted if the child survives 96 hours.</p>

	<p>No payment will be made where the the claim event is deliberate or as a result of negligence</p>

	<p>The cover amount is reduced for each claim event until it runs out.</p>

	<p>We will debit R99, from the account you provided on {{bank.startDate}}.</p>

	<p>Your MiLittleLife policy will only be activated after the first premium collection.</p>

	<p>The cover amount will automatically increase by R50 000 per year, with the premium increasing by 5% in the childs birth month.</p>

	<p>MiLittleLife comes with a 30 day cooling off period, which means that you're afforded 30 days to review the product.</p>

	<p>Should you wish to cancel you may do so and any premiums collected will be refunded.</p>

</body>

<input type="button" name="accept" value="Complete" onclick="location.href='http://jonoelcock.pythonanywhere.com/WME/contact/';"}" />